---
import { CountdownReact } from '../components/Countdown'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Countdown'>
  <main class='bg-zinc-900'>
    <!-- Countdown component -->
    <CountdownReact client:load />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    min-height: 100vh;
  }
</style>
